*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #050012 !important;
    max-height: 105vh;
}

.conteudo{
    display: flex;
}

.painel{
    display: flex;
    width: 23vw;
    height: 100vh;
    position: fixed;
}

.navbar{
    width: 100%;
    height: 100%;
    background-color: #242731;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.166);
}

#divlightmode{
    margin-bottom: 2%;
}

.logoNav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoNav h1{
    color: white;
}

.logoNav p{
    font-size: 20px;
    color: #60a5fa;
}

.logoNav img{
    width: 70px;
    height: 70px;
}

.filtros{
    height: 30%;
}

.filtro{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.filtro label{
    color: #c0c0c0;
}

.styleFiltro{
    background-color: #1d2027;
    border: none;
    outline: none;
    color: #757575;
    width: 100%;
    height: 30px;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
}

.styleFiltro option{
    font-size: 14px;
}

.styleFiltro02{
    background-color: #1d2027;
    border: none;
    outline: none;
    color: #757575;
    width: 100px;
    height: 40px;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
}

.styleFiltro03{
    background-color: #1d2027;
    border: none;
    outline: none;
    color: #757575;
    width: 100px;
    height: 40px;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 110px;
    margin-top: -45px;
}

.styleFiltro5{
    background-color: #1d2027;
    border: none;
    outline: none;
    color: #757575;
    width: 59px;
    height: 30px;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
}

.opcao{
    display: flex;
    gap: 15px;
    position: absolute;
    bottom: 15px;
}

.btOpcao{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #1d2027;
    color: white;
    border: none;
    outline: none;
    font-size: 27px;
    transition: 0.3s;
    cursor: pointer;
}

.btOpcao:hover{
    /* opacity: 0.7; */
    transform: scale(105%);
}

.analytics{
    width: 77vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-left: 22%;
}

.kpi{
    display: flex;
    width: 90%;
    height: 115px;
    background-color: #242731;
    border-radius: 10px;
    margin-top: -4vh;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.166);

}

.tituloKpi{
    color: white;
    width: 90%;
    height: 10px;
    margin-top: 2vh;
}

.divisor{
    height: 100%;
    width: 2px;
    background-color: #757575;
}

.descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    color: rgb(190, 190, 190);
    padding: 5px;
}

.bigN{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    height: 100%;
    color: rgb(190, 190, 190);
    padding: 5px;
    padding: 7px;
}

.bigN p{
    text-align: center;
    font-size: 14px;
}

.barra{
    display: flex;
    align-items: center;
}

.barra01{
    width: 50px;
    height: 8px;
    background-color: #1FB981;
}

.barra02{
    width: 100px;
    height: 8px;
    background-color: #757575;
}

.metrica01{
    font-size: 30px;
    color: #487CBC;
}

.metrica02{
    font-size: 30px;
    color: #5F57BD; 
}

.metrica03{
    font-size: 30px;
    color: #964EBF;
}

.metrica04{
    font-size: 30px;
    color: #B3345E;
}

.corAlertas{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 5px 0 0 -20px;
}

.b01{
    display: flex;
    align-items: center;
    color: #757575;
    gap: 10px;
}

.verde{
    color: #1FB981;
}

.amarelo{
    color: #fbbf24;
}

.vermelho{
    color: #f97316;
}

.visual{
    display: flex;
    flex-direction: column;
    width: 90%;
    /* height: 440px; */
    /* background-color: cadetblue; */
    gap: 15px;
    margin-bottom: 2vh;
}

.box01{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
}

.graf01{
    width: 15vw;
    height: 34vh;
    background-color: #242731;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.166);
    margin-top: 0vh;
}

.graf02{
    width: 15vw;
    height: 34vh;
    background-color: #242731;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.166);
    margin-top: 0vh;
}

.graf03{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 34vh;
    background-color: #242731;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.166);
}

.graf04{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53vw;
    height: 34vh;
    background-color: #242731;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.166);
}

.graf05{
    width: 15vw;
    height: 34vh;
    background-color: #242731;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.166);
}

.graf06{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53vw;
    height: 34vh;
    background-color: #242731;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.166);
}

.graf07{
    width: 15vw;
    height: 34vh;
    background-color: #242731;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.166);
}

.graf08{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53vw;
    height: 34vh;
    background-color: #242731;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.166);
}

.graf09{
    width: 15vw;
    height: 34vh;
    background-color: #242731;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.166);
}

.tituloLine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    width: 35vw;
}

.tituloLine2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    width: 53vw;
}

.tituloRosca{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    width: 15vw;
}

.tituloRosca p{
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.tituloLine p{
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.tituloLine2 p{
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.txt{
    color: white;
    margin-top: -5vh;
}

.txt02{
    color: white;
    margin-left: 56vw;
    margin-top: -6vh;
}

.txt03{
    color: white;
    margin-top: 1vh;
}

.txt04{
    color: white;
    margin-left: 39vw;
    margin-top: -6vh;
}

.txt05{
    color: white;
    margin-left: 55vw;
    margin-top: -6vh;
}

.txt06{
    color: white;
    margin-top: 1vh;
}

.txt07{
    color: white;
    margin-left: 55vw;
    margin-top: -6vh;
}

.txt08{
    color: white;
    margin-top: 1vh;
}

.txt09{
    color: white;
    margin-left: 55vw;
    margin-top: -6vh;
}