@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;400;700&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    height: 1950px;
    background-color: rgb(15, 15, 15);
    position: absolute;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}





body::-webkit-scrollbar-thumb {
    width: 2px;
    background-image: -webkit-linear-gradient(top, #26e3c2, #45a0f5);
}

.backanimation {

    display: none;
   
}

header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 3% 0px 8%;
    position: fixed;
    z-index: 1;
    transition: all 0.2s 0s linear;

}

header img {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 3%;
}

header h1 {
    color: whitesmoke;
    text-decoration: none;

}

header ul {

    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
}

header ul li {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 90px;

}

header ul li:hover {

    border-bottom: solid 3px #45a0f5;


}

header ul li a {
    height: 80%;
    width: 100%;
    text-decoration: none;
    color: whitesmoke;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;

}

header div {
    height: 40%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 7%;
}

header div a {
    border: solid 1px white;
    color: whitesmoke;
    border-radius: 50px;
    font-size: 16px;
    height: 100%;
    width: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}



.cadastrar:hover {
    background-color: rgb(255, 255, 255);
    color: #0f0f0f;
    transition: all 0.6s 0s ease;
    border: none;

}

.entrar {
    background-color: white;
    border: solid 1px white;
    color: #0f0f0f;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    height: 100%;
    width: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.entrar:hover {
    background-color: rgb(232, 232, 232);
    transition: all 0.6s 0s ease;

}



main {
    width: 100vw;
}


/* primeiro container */

.container1 {
    margin-top: 100px;
    height: 500px;
    width: 100vw;
    padding: 110px 0px 0px 120px;
    display: flex;

}

.container1 .bloco1 {
    height: 300px;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.container1 .bloco1 h2 {
    font-size: 50px;
    color: white;
    opacity: 1;
}

.container1 .bloco1 h2 span {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(left, #26e3c2, #45a0f5);
    color: transparent;

}

.container1 .bloco1 p {
    margin-top: 30px;
    font-size: 14px;
    color: white;
    opacity: 1;


}

.container1 .bloco1 .divdownload {
    margin-top: 8%;
    font-size: 32px;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;


}

.divdownload a {
    font-size: 20px;
    font-weight: 700;
    color: #0f0f0f;
    height: 40px;
    width: 150px;
    text-decoration: none;
    background-color: white;
    border: solid 1px white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divdownload a:hover {
    box-shadow: 0px 0px 8px 2px rgba(245, 245, 245, 0.42);
}

#entrardivdownload {
    display: none;
}


/* circulo borrado no fundo da tela (background) */

.circuloborrado {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: #45a0f526;
    filter: blur(100px);
}

.circuloborrado2 {
    display: none;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: #45a0f526;
    filter: blur(100px);
    position: absolute;
    margin-top: 45%;
    left: -110px;
}


.imagenshome {
    position: absolute;
    right: -150px;
    background-color: rgb(255, 255, 255);
    height: 290px;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.primeiraft {
    position: absolute;
    height: 300px;
    transform: rotate(2deg);
    left: -120px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);

}

.segundaft {
    position: absolute;
    height: 300px;
    transform: rotate(-10deg);
    bottom: -30px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}



/* segundo container  */

.container2 {
    height: 400px;
    width: 80vw;
    background-color: transparent;
    margin: 110px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: whitesmoke;

}

/* as 3 caixar COLABORADOR - SEGURANÇA - ANALISES */

.container2 ul {
    display: none;
}

.container2 .box {
    height: 300px;
    width: 26%;
    background-color: transparent;
    border: solid 1px rgba(160, 160, 160, 0.652);
    border-radius: 20px;
    padding: 20px;
}

.box .boxicon {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    background-color: rgba(160, 160, 160, 0.253);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box .boxicon ion-icon {
    font-size: 35px;
}

.box h3 {
    margin-top: 30px;
    font-size: 22px;
}

.box p {
    margin-top: 20px;
    font-size: 14px
}


/* terceiro container */

.container3 {
    background-color: transparent;
    margin: 110px auto;
    display: flex;
    align-items: center;
    color: whitesmoke;
    justify-content: center;
}



.container3 .bloco3 {
    margin-top: -50px;
    height: 300px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container3 .bloco3 h1 {
    font-size: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container3 .bloco3 h1 span {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(left, #26e3c2, #45a0f5);
    color: transparent;
}

.container3 .bloco3 p {
    margin-top: 30px;
    font-size: 20px;
    color: white;
    width: 60%;
    text-align: center;
}



/* footer */

footer {
    height: 300px;
    width: 100vw;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    bottom: 0%;
    color: #212121;
    font-size: 14px;
    position: absolute;
    bottom: 0%;


}

footer .container4 {
    height: 90%;
    width: 100vw;
    background-color: #000000;
    margin: 0% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container4 img {
    height: 100px;
    width: 100px;
    margin-left: 8%;

}


footer .container4 .infofooter {
    height: 100%;
    width: 75vw;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

footer .container4 .infofooter .boxinfo {
    color: whitesmoke;
    height: 50%;
    width: 30%;
    background-color: #000000;
    display: flex;
    flex-direction: column;

}

footer .container4 .infofooter .boxinfo h3 {

    background-clip: text;
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(left, #26e3c2, #0d85f5);
    color: transparent;
    margin-bottom: 20px;

}


footer .container4 .infofooter .boxinfo a {
    margin-top: 10px;
    color: whitesmoke;
    font-weight: 100;
    text-decoration: none;
    font-size: 14px;

}

.boxinfo a:hover {
    border-bottom: solid 1px white;
}

footer .container4 .infofooter .boxinfo ul {

    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;


}

footer .container4 .infofooter .boxinfo ul li ion-icon {

    font-size: 25px;



}










































@media only screen and (max-width: 600px) {

    * {
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
        font-family: 'Kumbh Sans', sans-serif;

    }


    body html {

        display: flex;
        flex-direction: column;
        width: 100vw;
        overflow-x: hidden;
        height: 3000px;
        background-color: #000000;
    }

    main {
        width: 100vw;
        background-color: #000000;
    }


    .backanimation {
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #101010;
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: 1;
    }

    .backanimation div {
        height: 50%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .backanimation div img {
        margin-top: 25%;
        height: 30%;

    }

    #contanimation {
        margin-top: 20%;
        font-weight: bold;
        color: whitesmoke;
    }

    #lineanimation {
        margin-top: 8%;
        height: 10px;
        width: 100%;
        display: block;
        background-color: rgba(82, 82, 82, 0.542);
        padding: 0;
        border-radius: 20px;
        overflow: hidden;

    }

    #lineanimation div {
        width: 0%;
        height: 100%;
        background-color: #45a0f5;
        transition: all 7s 2s linear 1;
        animation: load 5s 1.2s linear infinite;

    }






    header {
        height: 100px;
        display: flex;
        justify-content: space-around;
        position: absolute;
        background-color: black;
        z-index: 3;
    }


    header img {
        height: 50px;
        width: 50px;
        position: relative;
    }

    .rotatelogo {
        transition: all 1s 0s ease-in;
        transform: rotate(360deg);
    }

    header h1 {
        color: whitesmoke;
        font-size: 20px;
        margin-left: 16px;
    }

    header ul {
        color: #000000;
        display: none;
        flex-direction: column;
        border-radius: 10px;
        border: solid 3px 50px rgba(0, 0, 0, 0.707);
        height: 0px;
        width: 0vw;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        z-index: 1;
        top: 250%;
        margin: 0% auto;
        background-color: #cdcdcd;
        transition: opacity 2s 1s ease-out;



    }

    header ul li a {
        color: #000000;
        font-weight: bold;

    }

    .blurtrocatela {
        transition: opacity 1s linear;
        display: none;
        height: 90vh;
        width: 100vw;
        backdrop-filter: blur(4px);
        position: absolute;
        background-color: rgba(24, 24, 24, 0.674);
        top: 100px;
        left: 0;
        z-index: 2;
    }


    .entrar {
        margin-left: 2%;
    }

    header div {
        width: 50%;
        display: flex;
    }

    .container1 {
        margin-top: 80px;
        height: 615px;
        width: 100vw;
        background-image: url(../asset/background2.jpg);
        padding: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }

    .container1 .bloco1 {
        margin: 0px 0px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: transparent;
        position: relative;

    }

    .container1 .bloco1 h2 {
        display: block;
        opacity: 0;
        position: absolute;
        top: 20%;
        font-size: 30px;
        color: white;
        text-align: center;
        transition: opacity 2s 0s linear;

    }

    .container1 .bloco1 h2 span {
        background-clip: text;
        -webkit-background-clip: text;
        background-image: -webkit-linear-gradient(left, #26e3c2, #45a0f5);
        color: transparent;

    }

    .container1 .bloco1 p {
        display: block;
        opacity: 0;
        position: absolute;
        top: 12%;
        width: 70%;
        font-size: 16px;
        color: white;
        text-align: center;
        transition: opacity 2s 0s linear;


    }

    .divdownload {
        width: 100%;
        position: absolute;
        left: 0px;
        bottom: 48%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .divdownload a {
        font-size: 18px;
        font-weight: 700;
        color: #0f0f0f;
        height: 43px;
        width: 140px;
        text-decoration: none;
        background-image: -webkit-linear-gradient(left, #26e3c2, #45a0f5);
        border: none;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.819);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;


    }






    .circuloborrado2,
    .circuloborrado,
    .imagenshome,
    .primeiraft,
    .segundaft,
    .cadastrar {
        display: none;

    }






    .container2 {
        height: 654px;
        width: 100vw;
        padding: 30px 0px;
        background-image: linear-gradient(to top, rgb(35, 35, 35), rgb(35, 35, 35), rgba(0, 0, 0, 0.692));
        border-radius: 0px;
        margin: 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: whitesmoke;
        position: relative;
        bottom: 195px;

    }

    /* as 3 caixar COLABORADOR - SEGURANÇA - ANALISES */

    .container2 ul {

        width: 90%;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 5%;

    }

    .container2 ul li {
        height: 50px;
        width: 70%;
        background-color: red;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: -webkit-linear-gradient(left, #26e3c2, #45a0f5);
        border-radius: 10px;
        box-shadow: -2px 2px 10px 0px rgba(0, 0, 0, 0.703);




    }

    .container2 .box {
        height: 365px;
        width: 70%;
        background-color: #2525254d;
        border: solid 1px #42c5dffc;
        border-radius: 20px;
        padding: 20px;
        overflow: hidden;
        position: absolute;
        top: 30%;
        opacity: 0;
        transition: opacity 1s 0s linear;

    }

    #boxone{
        opacity: 1;
    }

    .box .boxicon {
        height: 80px;
        width: 80px;
        border-radius: 10px;
        background-color: rgba(160, 160, 160, 0.253);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box .boxicon ion-icon {
        font-size: 35px;
    }

    .box h3 {
        margin-top: 30px;
        font-size: 26px;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: -webkit-linear-gradient(left, #26e3c2, #45a0f5);
        color: transparent;


    }

    .box p {
        margin-top: 20px;
        font-size: 14px;

    }



    .container3 {
        background-image: linear-gradient(to bottom, rgb(35, 35, 35), rgb(35, 35, 35), rgba(0, 0, 0, 0.692));
        margin: 0px;
        height: 710px;
        width: 100vw;
        padding: 10px;
        display: flex;
        position: absolute;
        bottom:90px ;
        
    }

    .container3 .bloco3 {
        background-image: linear-gradient(to bottom, rgb(35, 35, 35), rgb(35, 35, 35), rgba(0, 0, 0, 0.692));
        margin: 0px;
        height: 710px;
        width: 100vw;
        padding: 10px;
        display: flex;
        position: absolute;
        bottom:90px ;
        
    }



    footer {
        height: 90px;
        max-width: 100vw;
        display: block;
        flex-direction: column;
        position: absolute;
        bottom: 0px;
       
    }

    footer .container4 {
        padding: 20px 0 20px 0;
        height: 100%;
        width: 100%;
        background-color: #000000;
        margin: 0% auto;
    }


    footer .container4 img {
        height: 45px;
        width: 45px;

    }

    footer .container4 .infofooter .boxinfo {
        color: whitesmoke;
        height: 100%;
        width: 30%;
        background-color: #000000;
        display: none;
        flex-direction: column;
        align-items: center;

    }

    #blococontatos {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #blococontatos h3 {
        display: none;
    }

    #blococontatos ul {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 50vw;
    }

    footer .container4 .infofooter .boxinfo h3 {
        font-size: 20px;
    }


    footer .container4 .infofooter .boxinfo a {

        color: whitesmoke;
        font-weight: 100;
        text-decoration: none;
        font-size: 16px;

    }

    footer .container4 .infofooter .boxinfo ul {
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
    }

    #Copyright {
        display: none;
    }

}

@keyframes load {


    to {
        width: 100%;
    }
}