@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;400;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;
}

body {
    /* background-image: -webkit-linear-gradient(left, #26e3c2, #45a0f5); */
    background-color: #1d2027;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}



.navbar {
    height: 100vh;
    width: 20vw;
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blocoperfil {

    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.blocoperfil img {
    margin-top: 10px;
    height: 120px;

}

.blocoperfil h2 {
    margin-top: 20px;
    margin-right: 70px;
    font-weight: 400;
    font-size: 18px;
}


.guias {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;
    margin-top: 10%;
    width: 100%;
    padding: 0px 0px 30px 40px;
    list-style: none;
}


.guias li a {
    text-decoration: none;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(left, #26e3c2, #45a0f5);
    color: transparent;
}



.guias li a img {
    height: 20px;
}







.janelainfo {

    height: 100vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;

}


.card {
    overflow: hidden;
    height: 70%;
    width: 70%;
    background-color: #0f0f0f;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detalheboll {
    background-color: transparent;
    height: 8%;
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detalheboll div {
    height: 16px;
    width: 16px;
    border-radius: 50%;

}

.detalheboll .boll1 {
    background-image: -webkit-linear-gradient(left, #26e3c2, #45a0f5);
}

.detalheboll .boll2 {
    background-color: white;
}


.cardfilho {
    height: 90%;
    width: 100%;
}


.areadasinfos {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.infos {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
}

.infos h3 {
    color: whitesmoke;
    font-size: 26px;
}

.editarinfo{
    display: none;
    align-items: end;
}

.editarinfo input{
    height: 20px;
    margin-left: 10px;
    background-color: rgba(128, 128, 128, 0.133);
    backdrop-filter: blur(10px);
    border: none;
    outline: 1px red;
    color: whitesmoke;
    padding-left: 10px;
}


.listadecampos{
    background-color: transparent;
    width: 100%;
    height: 70%;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.campo{
    background-color: transparent;
}

.campo .noeditsinfo {
    display: block;
    display: flex;
    align-items: end;

}

.campo div .title{
    background-clip: text;
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(left, #26e3c2, #45a0f5);
    color: transparent;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    margin-left: 0px;


}

.campo div p{
    color: rgb(111, 111, 111);
    margin-left: 10px;
}















.areadasinfos img {
    height: 60%;
}




.campobotoes {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}





.campobotoes button {
    background-color: transparent;
    height: 35px;
    width: 70px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-radius: 10px;
    color: whitesmoke;

}


.campobotoes div  {
    background-color: red;
    width: 20%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.campobotoes div button {
    display: none;
    background-image: -webkit-linear-gradient(left, #26e3c2, #45a0f5);
    height: 35px;
    width: 70px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    color: whitesmoke;
    position: absolute;

}

.campobotoes div img {
    display: block;
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;

}

.campobotoes button img {
    height: 20px;
    width: 20px;
    position: relative;
   

}

