@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;400;700&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    overflow-x: hidden;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
 
body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(15, 15, 15);
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}





body::-webkit-scrollbar-thumb {
    width: 2px;
    background-image: -webkit-linear-gradient(top, #26e3c2, #45a0f5);
}

header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 3% 0px 8%;
    position: fixed;
    z-index: 1;
    transition: all 0.2s 0s linear;

}

header img {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 3%;
}

header h1 {
    color: whitesmoke;
    text-decoration: none;

}

header ul {

    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
}

header ul li {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 90px;

}

header ul li:hover {

    border-bottom: solid 3px #45a0f5;


}

header ul li a {
    height: 80%;
    width: 100%;
    text-decoration: none;
    color: whitesmoke;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;

}

header div {
    height: 40%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 7%;
}

header div a {
    border: solid 1px white;
    color: whitesmoke;
    border-radius: 50px;
    font-size: 16px;
    height: 100%;
    width: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}

#divlightmode{
    position: fixed;
    height: 30px;
    width: 70px;
    background-color: rgb(16, 96, 224);
    bottom: 5%;
    left:3%;
    border: solid 2px  rgb(193, 183, 183);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 1px 1px 1px 1px;
    cursor: pointer;
    transition: background-color 1s 0.2s linear;
}

#onmode{
    background-color: rgb(255, 255, 255);
    height: 22px;
    width: 22px;
    border-radius: 50%;
    transform: translateX(5px);
    transition: transform 0.3s linear;
}
 
.title h1{
    text-align: center;
    padding-top: 100px;
    font-size: 42px;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(left, #26e3c2, #45a0f5);
    color: transparent;
}
.title h1::after{
    content: "";
    height: 4px;
    width: 230px;
    display: block;
    margin: auto;
}
.services{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}
.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    cursor: pointer;
}
.card:hover{
    background-color: #45a0f5;
    transition: 0.4s ease;
}
.card .icon{
    font-size: 35px;
    margin-bottom: 10px;
    color: #fff;
}
.card h2{
    font-size: 28px;
    color: #c94f4f;
    margin-bottom: 20px;
}
.card p{
    font-size: 17px;
     margin-bottom: 30px;
     line-height: 1.5;
     color: #e5e5e5;
}
.button{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 8px 12px;
    border-radius: 5px;
    letter-spacing: 1px;
}
.button:hover{
     background-color: #c94f4f;
     transition: 0.4s ease;
}

@media screen and (max-width: 940px) {
    .services{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 85%;
        display: flex;
        margin: 20px 0px;
    }
}


/* footer */

footer {
    height: 300px;
    width: 100vw;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    bottom: 0%;
    color: #212121;
    font-size: 14px;
    


}

footer .container4 {
    height: 90%;
    width: 100vw;
    background-color: #000000;
    margin: 0% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container4 img {
    height: 100px;
    width: 100px;
    margin-left: 8%;
    
}


footer .container4 .infofooter {
    height: 100%;
    width: 75vw;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

footer .container4 .infofooter .boxinfo {
    color: whitesmoke;
    height: 50%;
    width: 30%;
    background-color: #000000;
    display: flex;
    flex-direction: column;

}

footer .container4 .infofooter .boxinfo h3 {

    background-clip: text;
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(left, #26e3c2, #0d85f5);
    color: transparent;
    margin-bottom: 20px;

}


footer .container4 .infofooter .boxinfo a {
    margin-top: 10px;
    color: whitesmoke;
    font-weight: 100;
    text-decoration: none;
    font-size: 14px;

}

.boxinfo a:hover {
    border-bottom: solid 1px white;
}

footer .container4 .infofooter .boxinfo ul {

    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;


}

footer .container4 .infofooter .boxinfo ul li ion-icon {

    font-size: 25px;



}
 
 
@media(max-width:1250px){
 
    .blog-box{
        width: 300px;
    }
} 
@media(max-width:1100px){
    .blog-box{
        width:70%;
    }
}
 
@media(max-width:550px){
   
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding:20px;
    }
}